.unformInput {
  flex: 1;
  background: #dddddd;
  border-radius: 8px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  color: #6C6C80;
  cursor: text;
}
.unformInputLabel {
  color: #6C6C80;
  margin-top: 48px;
}
.unformInputError {
  color: rgb(180, 14, 14);
  font-size: 13px;
}