.logInPage {
  height: 100vh;
  color: #101D42;
  display: block;
}

.logInForm {
  padding: 64px;
  margin: 128px auto;
  max-width: 730px;
  box-shadow: -1px 2px 3px 3px rgba(0,0,0,0.36);
  background: #F9F9F9;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}
.logInForm h1 {
  color: var(--secondary-color);
  font-size: 48px;
}
button[type=submit] {
  z-index: 0;
  width: 260px;
  height: 56px;
  background: var(--main-color);
  border-radius: 12px;
  color: #dddddd;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 64px;
  cursor: pointer;
  transition: background-color 0.2s;
}

 button[type=submit]:hover  {
  background: var(--secondary-color);
}
.logInForm a {
  margin-top: 3rem;
  display: flex;  
  color: var(--font-color);
  text-decoration: none;
}
.logInForm a p {
  border-bottom: 1.5px solid;
  border-bottom-color:#c0c0c9 ;
  transition: all 0.2s ease-in;
}
.logInForm a p:hover {
  border-bottom-color: var(--secondary-color);
}
 